.vscode/settings.json
*.wav
/app/.cache
*.txt
*.mp3
/app/cache/__pycache__
/app/comfyui/ComfyUI
/app/comfyui/python_embeded
/app/config/__pycache__
/app/comfyui/update
/app/models/__pycache__
*.pt
/app/servers/__pycache__
/app/servers/models/__pycache__
/app/servers/routers/__pycache__
/app/servers/services/__pycache__
/app/servers/utils/__pycache__
/app/util/__pycache__
/app/util/uvr5/__pycache__
*.pth
app/comfyui/run_nvidia_gpu.bat
app/comfyui/ComfyUI.lnk
/app/comfyui/python_embeded
/app/cache/__pycache__
*.pyd
*.pyc
/app/.cache
/app/comfyui/python_embeded
*.index
/app/models/whisper/models--deepdml--faster-whisper-large-v3-turbo-ct2
app/config/config.json
app/config/config.json
app/config/config.json
app/config/config.json
/app/models/glm_asr/models--zai-org--GLM-ASR-Nano-2512
/app/models/chatterbox
/app/models/soprano
/app/datasets/chatterbox/Soft
/app/models/chatterbox_custom/Soft
/app/training/chatterbox-finetuning/pretrained_models
/app/training/chatterbox-finetuning/src/chatterbox_/models/s3gen
/app/datasets/Soft
/app/models/soprano_custom/Soft
/output/background_streams
voiceforge_tailscale_https.bat
/app/models/rvc_user/Ana De Armas
/app/models/rvc_user/Ahyeon
/app/models/rvc_user/CreatureASMR
/app/models/rvc_user/Asa
/app/models/rvc_user/Femme Fatalel
/app/models/rvc_user/FrivolousFox
/app/models/rvc_user/Nicki Nicole
app/models/omnivoice/onnx/omnivoice.qint8.onnx
app/models/omnivoice/onnx/omnivoice.qint8.onnx_data
